<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="cy.ac.ucy.cs.anyplace.lib">

  <application
    tools:ignore="LockedOrientationActivity">
    <!--              The API key for Google Maps-based APIs must be safely stored at ProjectRoot:secure.properties -->
    <activity
      android:name=".android.ui.cv.logger.CvLoggerActivity"
      android:theme="@style/AppTheme.Compat.ObjectDetection"
      android:screenOrientation="portrait"
      android:exported="true" />
    <activity
      android:name=".android.ui.login.LoginActivity"
      android:exported="true"
      android:label="@string/title_activity_login" />
    <activity
      android:name=".android.ui.settings.SettingsServerActivity"
      android:exported="true"
      android:label="Settings: Server" />
    <activity
      android:name=".android.ui.settings.SettingsCvLoggerActivity"
      android:exported="true"
      android:label="Settings: Computer Vision" />
    <activity android:name=".android.ui.selector.space.SelectSpaceActivity" />
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/maps_api_key" />
  </application>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <uses-permission android:name="android.permission.INTERNET" />

  <!-- AP-CV -->
  <uses-permission android:name="android.permission.CAMERA" />

</manifest>